.contact {
  margin-block-end: 5rem;

  @include tablet {
    margin-block-end: 6rem;
  }

  @include desktop {
    margin-block-end: 9.375rem;
  }
  &__wrapper {
    article {
      padding-block: 1.5rem 2rem;
      border-block: 1px solid #33323d;
      display: grid;
      gap: 1.5rem;

      @include desktop {
        display: grid;
        grid-template-columns: 3.5fr 6.5fr;
        justify-content: space-between;
        padding-block: 3rem;
      }
    }
  }

  &__form {
    padding-block-start: 2rem;
    display: grid;
    gap: 1.5rem;

    @include desktop {
      padding-block-start: 3rem;
      display: grid;
      grid-template-columns: 3.5fr 6.5fr;
      justify-content: space-between;
    }

    &__fields {
      display: grid;
      gap: 1.5rem;

      label {
        display: grid;
        gap: 8px;

        span {
          font-weight: 700;
          font-size: 0.8125rem;
          line-height: 30px;
          color: #33323d;
        }

        input[type="text"],
        textarea {
          padding: 0.625rem 1rem;
          inline-size: 100%;
          border: 0;
          background-color: #e6e6e7;
          font-family: "Public Sans", sans-serif;
        }
      }

      button {
        justify-self: flex-start;
      }
    }
  }
}

.social-icons {
  margin-top: 1.5rem;
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  a {
    color: #33323d;
  }
}
