.footer {
  inline-size: 100%;
  &__wrapper {
    inline-size: 100%;
    display: grid;
    gap: 5rem;
  }
}

.footer__nav {
  inline-size: 100%;
  background-color: #33323d;
  color: white;

  &__container {
    inline-size: 100%;
    max-inline-size: 69.375rem;
    padding-inline: 2rem;
    padding-block: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;

    @include tablet {
      padding-block: 1.5rem;
      padding-inline: 2.5rem;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
    }

    .head__inner {
      flex-direction: column;
      gap: 2.5rem;

      @include tablet {
        gap: 3rem;
        flex-direction: row;
        justify-content: flex-start;
      }
    }

    .head__nav {
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;

        @include tablet {
          flex-direction: row;
        }
      }

      li {
        display: flex;
        justify-content: center;
      }
    }
  }

  a {
    color: white;
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    gap: 1rem;
  }
}
