*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
}

html {
  block-size: 100%;
  min-inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;

  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-direction: column;

  padding-block-start: 2rem;

  font-family: "Public Sans", sans-serif;

  background: #f2f2f2;
  color: #33323d;

  @include tablet{
    padding-block-start: 4rem;
  }
}

.main {
  inline-size: 100%;
}

.container{
  inline-size: 100%;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  inline-size: 100%;
  max-inline-size: 69.375rem;
  margin: 0 auto;

  padding-inline: 2rem;

  @include tablet {
    padding-inline: 2.5rem;
  }

  // @include desktop {
  //   padding-inline: 10.3125rem;
  // }
}

//remember this declaration. Solved all the Image headaches!!!!!

picture {
  width: 100%;
  height: 100%;
  display: flex;
}

picture img {
  object-fit: cover;
  height: auto;
  width: 100%;
}

//https://stackoverflow.com/questions/47888165/make-image-in-picture-element-fit-its-container

h1,
h2,
h3 {
  font-family: "Ibarra Real Nova", serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;

  &-primary {
  }

  &-secondary {
    color: #33323d;
    padding: 1rem 2.125rem;
    border: 1px solid currentColor;
  }
}

h1 {
  font-size: 2.5rem;
  line-height: 42px;
  letter-spacing: -0.36px;
}

h2 {
  font-size: 2.5rem;
  line-height: 42px;
  letter-spacing: -0.36px;
}

h3 {
  font-size: 2rem;
  line-height: 42px;
  letter-spacing: -0.29px;
  font-weight: medium;
}

p {
  font-size: 1rem;
  line-height: 30px;
  font-weight: 400;
}

a{
  text-decoration: none;
  white-space: nowrap;
}
