.head {
  inline-size: 100%;
  margin-bottom: 2.5rem;
  block-size: 2rem;

  @include tablet {
    margin-bottom: 3rem;
  }

  @include desktop {
    margin-bottom: 3.375rem;
  }

  &__wrapper {
    inline-size: 100%;
  }

  &__inner {
    inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__logo {
    padding: 0;
    block-size: 100%;
    overflow: hidden;
    color: var(--link);
  }

  .head__nav {
    @include mobile {
      position: absolute;
      right: 0;
      top: 48px;
      inline-size: 100%;
      background-color: var(--link);
      padding-block: 40px;
      opacity: 0;
      z-index: 100;
    }

    &.open {
      opacity: 1;
    }

    .nav__list {
      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
    }

    li {
      @include mobile {
      }
    }

    a {
      @include mobile {
        color: white;
        font-size: 0.75rem;
        line-height: 14px;
        letter-spacing: 2px;
      }
    }
  }
}

.nav__list {
  display: flex;
  gap: 42px;

  a {
    display: inline-block;
    block-size: 2rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--link);

    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 2px;

    &[aria-current="page"] {
      color: var(--active);
    }
  }
}

.menu {
  @include tablet {
    display: none;
  }
}

.hamburger {
  block-size: 1.25rem;
  inline-size: 1.25rem;
  cursor: pointer;
  background: none;
  border: none;

  display: grid;
  place-content: center;

  position: relative;

  .line {
    position: absolute;
    display: block;
    background: var(--bg-3);
    width: 18px;
    height: 0.15rem;
    border-radius: 0.2rem;
    transition: all 0.6s cubic-bezier(0.5, 0.1, 0, 1.2);
  }
  .line-1 {
    top: 0;
  }

  .line-2 {
    top: 7px;
    width: 14px;
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
  }

  .line-3 {
    top: 14px;
  }

  &.open {
    .line-1 {
      top: 0px;
      width: 22px;
      transform: translateX(-11px) rotate(-45deg) translateY(12px);
    }

    .line-2 {
      opacity: 0;
    }

    .line-3 {
      top: 14px;
      width: 22px;
      transform: translateX(-8px) rotate(45deg) translateY(-8px);
    }
  }
}
