.intro {
  inline-size: 100%;

  &__wrapper {
    inline-size: 100%;
  }

  &__image {
    inline-size: 100%;
    block-size: 18rem;

    @include tablet {
      block-size: 37.5rem;
    }
  }

  &__content {
    margin-top: 1.5rem;
    h1 {
      font-size: 2.5rem;
      line-height: 42px;
      letter-spacing: -0.36px;
      max-inline-size: 20ch;
    }
  }

  &__btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 1rem;
    width: 12.5rem;
    background-color: #203a4c;
    color: white;
    margin-top: 2rem;

    svg {
      margin-right: 2rem;
    }
  }
}

.about {
  inline-size: 100%;
  margin-top: 6rem;
  

  &__wrapper {
    inline-size: 100%;

    @include tablet{
      display: grid;
      grid-template-columns: 17.5625rem 20.6875rem;
      gap: 4.375rem;
    }

    @include desktop{
      grid-template-columns: 33.75rem 21.875rem;
      gap: 7.8125rem;
      justify-content: flex-start;
    }
  }

  &__image {
    inline-size: 100%;
  }

  &__content {
    margin-top: 2rem;
    padding-block-start: 2rem;
    padding-block-end: 3.125rem;
    border-block: 1px solid #33323d;

    @include tablet{
      margin-top: 0;
    }

    h2 {
      font-size: 2.5rem;
      line-height: 42px;
      letter-spacing: -0.36px;
    }

    p {
      margin-top: 1.75rem;
      font-size: 1rem;
      line-height: 30px;
      margin-bottom: 1.5rem;
    }
  }
}
