.pagination {
  inline-size: 100%;
  margin-block: 4rem;

  &__wrapper {
    inline-size: 100%;
  }

  &__inner {
    inline-size: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--text-2);

    border-block: var(--border);

    position: relative;

    div {
      block-size: 100%;
      padding-block: 2rem;
      &:first-child {
        border-right: var(--border);
        display: flex;
        justify-content: flex-start;
        position: relative;
        
      }

      &:last-child {
        display: flex;
        justify-content: flex-end;
      }
    }

    a {
      color: inherit;
      font-size: 1rem;
      line-height: 30px;
    }
  }
}
