.pagination {
  inline-size: 100%;
  margin-block: 4rem;

  &__wrapper {
    inline-size: 100%;
  }

  &__inner {
    inline-size: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--text-2);

    border-block: var(--border);
    padding-block: 2rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      inline-size: 1px;
      block-size: 100%;
      background-color: var(--text-2);
    }

    a {
      color: inherit;
      font-size: 1rem;
      line-height: 30px;
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}
