{% extends "layouts/base.html" %} {% block content %}
<div class="intro">
  <section class="intro__wrapper">
    <div class="intro__image">
      <picture>
        <source
          media="(max-width: 733px)"
          srcset="
            ../../images/homepage/mobile/image-homepage-hero.jpg,
            ../../images/homepage/mobile/image-homepage-hero@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 1068px)"
          srcset="
            ../../images/homepage/tablet/image-homepage-hero.jpg,
            ../../images/homepage/tablet/image-homepage-hero@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1069px)"
          srcset="
            ../../images/homepage/desktop/image-homepage-hero.jpg,
            ../../images/homepage/desktop/image-homepage-hero@2x.jpg 2x
          "
        />
        <img
          src="../../images/homepage/mobile/image-homepage-hero.jpg"
          alt="image homepahe hero"
        />
      </picture>
    </div>
    <div class="intro__content">
      <h1 class="intro__content__heading">{{intro.main}}</h1>
      <a href="#about" class="btn intro__btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14">
          <g fill="none" fill-rule="evenodd" stroke="#5FB4A2">
            <path d="M0 9l8 4 8-4" />
            <path opacity=".5" d="M0 5l8 4 8-4" />
            <path opacity=".25" d="M0 1l8 4 8-4" />
          </g>
        </svg>
        <span>{{intro.buttonText}} </span>
      </a>
    </div>
  </section>
  {% include "partials/about.html" %}

  <div class="cta__wrapper">{% include "partials/cta.html" %}</div>
  {% endblock %}
</div>
