{% extends "layouts/base.html" %} {% block content %} {% set projects =
pagination.items %}

<div class="project">
  {% for project in projects %}
  <div class=".container">
    <div class="project__wrapper">
      <div class="project__inner">
        <div class="project__hero">
          <picture>
            <source
              media="(max-width: 480px)"
              srcset="
                {{project.data.detail.mobilehero}},
                {{project.data.detail.mobileherotwo}} 2x
              "
            />
            <source
              media="(max-width: 960px)"
              srcset="
                {{project.data.detail.tablethero}},
                {{project.data.detail.tabletherotwo}} 2x
              "
            />
            <source
              media="(min-width: 961px)"
              srcset="
                {{project.data.detail.desktophero}},
                {{project.data.detail.desktopherotwo}} 2x
              "
            />
            <img
              src="{{project.data.detail.mobilehero}}"
              alt="portfolio homepage hero"
            />
          </picture>
        </div>
        <section class="project__content">
          <article class="top">
            <h2>{{project.data.title}}</h2>
            <p>{{project.data.summary}}</p>
            <a class="btn btn-secondary" href="{{project.buttonUrl}}">
              Visit Website
            </a>
          </article>

          <article class="bottom">
            <div class="project__background">
              <h3>Project Background</h3>
              <p>{{project.data.background}}</p>
            </div>

            <div class="project__preview">
              <div class="project__preview__header">
                <h3>Static Previews</h3>
              </div>
              <div class="project__preview__images">
                <picture>
                  <source
                    media="(max-width: 480px)"
                    srcset="
                      {{project.data.detail.mobilepreviewtop}},
                      {{project.data.detail.mobilepreviewtoptwo}} 2x
                    "
                  />
                  <source
                    media="(max-width: 960px)"
                    srcset="
                      {{project.data.detail.tabletpreviewtop}},
                      {{project.data.detail.tabletpreviewtoptwo}} 2x
                    "
                  />
                  <source
                    media="(min-width: 961px)"
                    srcset="
                      {{project.data.detail.desktoppreviewtop}},
                      {{project.data.detail.desktoppreviewtoptwo}} 2x
                    "
                  />
                  <img
                    src="{{project.data.detail.mobilepreviewtop}}"
                    alt="portfolio homepage hero"
                  />
                </picture>
                <picture>
                  <source
                    media="(max-width: 480px)"
                    srcset="
                      {{project.data.detail.mobilepreviewbottom}},
                      {{project.data.detail.mobilepreviewbottomtwo}} 2x
                    "
                  />
                  <source
                    media="(max-width: 960px)"
                    srcset="
                      {{project.data.detail.tabletpreviewbottom}},
                      {{project.data.detail.tabletpreviewbottomtwo}} 2x
                    "
                  />
                  <source
                    media="(min-width: 961px)"
                    srcset="
                      {{project.data.detail.desktoppreviewbottom}},
                      {{project.data.detail.desktoppreviewbottomtwo}} 2x
                    "
                  />
                  <img
                    src="{{project.data.detail.mobilepreviewbottom}}"
                    alt="portfolio homepage hero"
                  />
                </picture>
              </div>
            </div>
          </article>
        </section>
      </div>
      {% include "partials/pagination.html" %} {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
