<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__cta">{% include "partials/cta.html" %}</div>
    <div class="head__inner">
      <a href="/" aria-label="{{site.name}}" class="head__logo">
        {% include "partials/logo.svg" %}
      </a>
      <nav class="head__nav" aria-label="primary">
        <ul class="nav__list">
          {% for item in navigation.items %}
          <li>
            <a
              href="{{ item.url }}"
              {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
              }}
              >{{ item.text }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</footer>
