{# Only renders this section if there are links to render #}
{% if pagination.href.next or pagination.href.previous %}
  <div class="pagination">
    <div class="pagination__wrapper">
      <nav class="pagination__inner" aria-label="Pagination links">
        <div>
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}{{ paginationAnchor }}" data-direction="backwards">
            <span>Previous Project </span>
          </a>
        {% endif %}
        </div>
        <div>
        
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}{{ paginationAnchor }}" data-direction="forwards">
            <span> Next Project </span>
          </a>
        {% endif %}
        </div>
      </nav>
    </div>
  </div>
{% endif %}