<header role="banner" class="head">
  <div class="head__wrapper">
    <div class="head__inner">
      <a href="/" aria-label="{{site.name}}" class="head__logo">
        {% include "partials/logo.svg" %}
      </a>
      <nav class="head__nav js-nav" aria-label="primary">
        <ul class="nav__list">
          {% for item in navigation.items %}
          <li>
            <a
              href="{{ item.url }}"
              {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
              }}
              >{{ item.text }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </nav>
      <div class="menu">
        <button class="hamburger" id="menu">
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
        </button>
      </div>
    </div>
  </div>
</header>
